@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);

body {
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.33)),
    url(/src/resources/images/northernLights.jpeg) no-repeat center center fixed;

  height: 100vh;
  background-size: cover;
}

.montserrat {
  font-family: Montserrat;
}

.red {
  color: #cf4c4e;
}

h1.ant-typography, .white {
  color: white;
}

.bold {
  font-weight: 700;
}

.mask {
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) { 
    #name { font-size: 8vw }
    #subName { font-size: 2.67vw }
 }
@media (min-width: 576px) { 
    #name { font-size: 6vw }
    #subName { font-size: 2vw }
 }
@media (min-width: 768px) { 
    #name { font-size: 5vw }
    #subName { font-size: 1.67vw }
 }
@media (min-width: 992px) { 
    #name { font-size: 4vw }
    #subName { font-size: 1.33vw }
 }
@media (min-width: 1200px) { 
    #name { font-size: 3vw }
    #subName { font-size: 1vw }
 }
#name {
    animation: 3s;
    animation-name: name;
}

#subName {
    animation: 3s;
    animation-name: subName;
}

@keyframes name {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  30% {
    transform: translate3d(0, -100%, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes subName {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  50% {
    transform: translate3d(0, -100%, 0);
  }
  80% {
    transform: translate3d(0, 0, 0);
  }
}